<a href="https://colab.research.google.com/github/dansoakua49/jul22-vac-python/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [2]:
for i in my_list:
    print(i)

1
2
3

In [3]:
for i in my_list:
    print(i)
    print('Hello World')

1
Hello World
2
Hello World
3
Hello World

In [4]:
my_list = ['AGE', 'NAME', 'T', 'SEX', 'CLASS']

In [5]:
for i in my_list:
    print(i)

AGE
NAME
T
SEX
CLASS

In [6]:
for i in 'NAME':
    print(i)

N
A
M
E

In [10]:
name = ('Kofi')
print(name)

Kofi

In [11]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [13]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [18]:
for i in range(2,20,2):
 print(i)

2
4
6
8
10
12
14
16
18

In [19]:
i = 0

while i <=15:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [20]:
my_list = ["NAME", "AGE", "T", "CLASS", "SEX"]

In [22]:
my_list

['NAME', 'AGE', 'T', 'CLASS', 'SEX']

In [23]:
for i in my_list:
    print(i)

NAME
AGE
T
CLASS
SEX

In [24]:
for i in my_list:
    print(i)
    if i == 'T':
        break

NAME
AGE
T

In [25]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in my_list:
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [26]:
for x in range(1, 4): # slow loop 
    for y in range(1, 11):   # fast loop
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [27]:
color_list = ['black', 'white', 'gold']
phone_list = ['iphone', 'samsung', 'blackberry']
for i in color_list:
    for j in phone_list:
        print(i, j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

In [29]:
for x in range(1,6):
  for y in range (1,6):
    print('{} * {} = {}'.format(x,y,x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [30]:
input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
    output_list.append(element **2)

print(output_list)

[1, 4, 9, 16]

In [31]:
[ element ** 2  for element in input_list]

[1, 4, 9, 16]

In [32]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []
for i in input_list:
    if i % 2==0:
        output_list.append(i**2)
print(output_list)

[4, 16, 36, 64, 100]

In [33]:
output_list = [i**2  for i in input_list if i%2 == 0  ]
output_list

[4, 16, 36, 64, 100]