<a href="https://colab.research.google.com/github/dansoakua49/jul22-vac-python/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple1=('name','age',10,15,1992);
tuple2=(450,55,977,2100);
type(tuple1)

tuple

In [2]:
tuple1

('name', 'age', 10, 15, 1992)

In [3]:
tuple1[1]

'age'

In [5]:
tuple1[1:3]

('age', 10)

In [6]:
tuple1[1]=0

TypeError: ignored

In [7]:
tuple3=tuple1+tuple2
tuple3

('name', 'age', 10, 15, 1992, 450, 55, 977, 2100)

In [10]:
tuple1=('Akua')
tuple2=('Danso')
tuple3=('15years')
tuple4=('8 friends')

In [16]:
len(tuple1+tuple2+tuple3+tuple4)
len

In [14]:
type(tuple1)

str